@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color-primary {
  color: #422B46;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 0, 50;
    --background-end-rgb: 25, 0, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.search-bar {
  border-radius: 5px;
}

.koho-extralight {
  font-family: "KoHo", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.koho-light {
  font-family: "KoHo", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.pink-btn {
  background-color: #EDADF8;
  font-family: "KoHo", sans-serif;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}


.nav-grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
}


@media screen and (max-width: 768px) {
  .nav-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .nav-grid input {
    grid-column: span 2;
    grid-row-start: 2;
  }
}